<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/KplHeroInfo/skillList', ['id' => $id])}">技能管理</a></li>
      <li class=""><a href="{:url('admin/KplHeroInfo/skillCreate',['id' => $id])}">{:lang('Create')}</a></li>
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            <div class="form-group">
              <label>技能名称 </label>
              <div class="row">
              <div class="col-md-6">
              <input type="hidden" name="id" value="{$id}">
              <input class="form-control input-sm" name="name" type="text" >
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label>冷却 </label>
              <div class="row">
              <div class="col-md-6">
              <input class="form-control input-sm" name="cooling" type="text" >
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label>消耗 </label>
              <div class="row">
              <div class="col-md-6">
              <input class="form-control input-sm" name="consume" type="text" >
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label>Logo</label>
              <div class="row">
              <div class="col-md-12">
                <div class="layui-upload-drag" id="logo">
                  <input type="hidden" name="killImg">
                  <div class="layui-upload-list" id="preview">
                  <p>{:lang('Upload')}</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
			
			<div class="form-group">
			  <label>描述</label>
			  <div class="row">
			  <div class="col-md-6">
			  <textarea class="form-control input-sm" name="skillDesc" rows="8" placeholder=""></textarea>
			  </div>
			  </div>
			</div>
			
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: "#logo"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='killImg']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>


<script type="text/javascript">
$(document).ready(function() {
	$('.select2').select2();

});
    
function operate(){
	$.ajax({
		url:"{:url('admin/KplHeroInfo/skillCreate')}",
		data:$("#operate").serialize(),
		type:'post',
		dataType:'json',
		success:function(xhr){
			if(xhr.code == 200){
				$("[name='id']").val(xhr.data.id);
				swal({
				  position: 'center',
				  type: 'success',
				  title: xhr.msg,
				  showConfirmButton: false,
				  toast:false,
				  timer: 2000
				});
			} else{
				swal({
				  position: 'center',
				  type: 'error',
				  title: xhr.msg,
				  showConfirmButton: false,
				  toast:false,
				  timer: 2000
				});
			}
		}
	});
}

</script>
{/block}