<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
<div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">{:lang('Statistics')}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="row">
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <h5 class="description-header">{$statistics.site_count}</h5>
                <span class="description-text">{:lang('Site total')}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <h5 class="description-header">{$statistics.document_count}</h5>
                <span class="description-text">{:lang('Document total')}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block border-right">
                <h5 class="description-header">{$statistics.comments_count}</h5>
                <span class="description-text">{:lang('Comments total')}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-xs-6">
              <div class="description-block">
                <h5 class="description-header">{$statistics.member_count}</h5>
                <span class="description-text">{:lang('Member total')}</span>
              </div>
              <!-- /.description-block -->
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
     {:hook('AdminIndex')}
    </div>
</div>


{/block}

<!-- 自定义js -->
{block name="js"}{/block}