<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/TeamInfo/index')}">cpSeo战队</a></li>
      <li class=""><a href="{:url('admin/TeamInfo/create')}">{:lang('Create')}</a></li>
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            
			<div class="form-group">
              <label class="layui-form-label">名称</label>
              <div class="row">
              <div class="col-md-4">
				<input type="hidden" name="team_id" value="{$info.team_id}">
			    <input type="text" name="team_name" value="{$info.team_name}" id="titleId" class="form-control input-sm" placeholder="">
				 <span class="text-red">（不要改）</span>
              </div>
              </div>
            </div>
			<div class="form-group">
              <label  class="layui-form-label"><span class="text-red">*</span>英文名称</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="en_name"  value="{$info.en_name}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label"><span class="text-red">*</span>中文名称 </label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="cn_name"  value="{$info.cn_name}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">战队全称 </label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="team_full_name"  value="{$info.team_full_name}" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">别名</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="aka" value="{$info.aka}"  class="form-control input-sm" placeholder=""><span style="color:red">多个别名用逗号隔开</span>
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">团队创建日期</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="established_date"  value="{$info.established_date}"  class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">现任教练</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="coach" value="{$info.coach}"  class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">所在地区</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="location" value="{$info.location}"  class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">游戏类型 <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="game" class="form-control">
                <option>请选择</option>
                {volist name="typeList" id="vo"}
                <option value="{$vo}"  {eq name="info.game" value="$vo"}selected{/eq} >
                    {$vo}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
            
			<div class="form-group">
              <label class="layui-form-label">战队的主Logo</label>
              <div class="row">
              <div class="col-md-4">
                <div class="layui-upload-drag" id="logo">
                  <input type="hidden" name="logo" value="{$info.logo}">
                  <div class="layui-upload-list" id="preview">
                      {empty name="info.logo"}
                      <p>{:lang('Upload')}</p>
                      {else /}
                      <img class="layui-upload-img img-responsive" src="{$info.logo}" />
                      {/empty}
                  </div>
                </div>
              </div>
              </div>
            </div>
			<div class="form-group">
			  <label class="layui-form-label">是否热门战队</label>
			  <div class="row">
			  <div class="col-md-4">
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" {eq name="info.hot" value="0"}checked{/eq} name="hot" value="0">否
					</label>
					<label class="radio-inline">
						<input type="radio" {eq name="info.hot" value="1"}checked{/eq} name="hot" value="1">是
					</label>
				</div>
			  </div>
			  </div>
			</div>
			<div class="form-group">
			  <label class="layui-form-label">状态</label>
			  <div class="row">
			  <div class="col-md-6">
				<div class="radio">
					<label class="radio-inline">
						<input type="radio" {eq name="info.status" value="1"}checked{/eq} name="status" value="1">正常
					</label>
					<label class="radio-inline">
						<input type="radio" {eq name="info.status" value="2"}checked{/eq} name="status" value="2">隐藏
					</label>
					
				</div>
			  </div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="layui-form-label">游戏战绩</label>
			  <div class="row">
			  <div class="col-md-6">
			  <textarea class="form-control input-sm" name="race_stat" rows="3" placeholder="">{$info.race_stat}</textarea>
			  <span style="color:red">win:胜;draw:平;lose:负;格式规范：win:4,draw:0,lose:7</span>
			  </div>
			  </div>
			</div>
			<div class="form-group">
			  <label class="layui-form-label">描述</label>
			  <div class="row">
			  <div class="col-md-10">
			  <textarea id="description" name="description">{$info.description}</textarea>
			  </div>
			  </div>
			</div>
			
			<div class="form-group">
			  <label class="layui-form-label">战队历程<span style="color:red">（不要改）</span></label>
			  <div class="row">
			  <div class="col-md-10">
			  <textarea id="team_history" name="team_history">{$info.team_history}</textarea>
			  </div>
			  </div>
			</div>
			
			
			<div class="form-group">
			  <label class="layui-form-label">荣誉<span style="color:red">（不要改）</span></label>
			  <div class="row">
			  <div class="col-md-10">
			  <textarea id="honor_list" name="honor_list">{$info.honor_list}</textarea>
			  </div>
			  </div>
			</div>
			<!--<div class="form-group">
			  <label>战绩</label>
			  <div class="row">
			  <div class="col-md-12">
			  <textarea class="form-control input-sm" name="race_stat" rows="10" placeholder=""></textarea>
			  </div>
			  </div>
			</div>-->
			
			
			
            
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: "#logo"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='logo']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>
<script src="__STATIC__/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
var ue = UE.getEditor('team_history', {
    toolbars: [
        ['fullscreen', 'source', 'undo', 'redo', 'selectall', '|', 'removeformat', 'formatmatch', 'autotypeset', 'cleardoc', '|', 'template', 'indent', 'horizontal','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'insertcode'],
        ['fontfamily', 'fontsize', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'link', 'unlink', 'inserttable', 'deletetable', 'simpleupload', 'insertimage']
    ],
    initialFrameWidth: '100%',
    initialFrameHeight:300,
    scaleEnabled:true,
    serverUrl: '{:url("admin/ueditor/index")}',
});
var ue1 = UE.getEditor('honor_list', {
    toolbars: [
        ['fullscreen', 'source', 'undo', 'redo', 'selectall', '|', 'removeformat', 'formatmatch', 'autotypeset', 'cleardoc', '|', 'template', 'indent', 'horizontal','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'insertcode'],
        ['fontfamily', 'fontsize', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'link', 'unlink', 'inserttable', 'deletetable', 'simpleupload', 'insertimage']
    ],
    initialFrameWidth: '100%',
    initialFrameHeight:300,
    scaleEnabled:true,
    serverUrl: '{:url("admin/ueditor/index")}',
});
var ue2 = UE.getEditor('description', {
    toolbars: [
        ['fullscreen', 'source', 'undo', 'redo', 'selectall', '|', 'removeformat', 'formatmatch', 'autotypeset', 'cleardoc', '|', 'template', 'indent', 'horizontal','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'insertcode'],
        ['fontfamily', 'fontsize', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'link', 'unlink', 'inserttable', 'deletetable', 'simpleupload', 'insertimage']
    ],
    initialFrameWidth: '100%',
    initialFrameHeight:300,
    scaleEnabled:true,
    serverUrl: '{:url("admin/ueditor/index")}',
});
</script>
<script type="text/javascript">
    function operate(){
        $.ajax({
            url:"{:url('admin/TeamInfo/edit')}",
            data:$("#operate").serialize(),
            type:'post',
            dataType:'json',
            success:function(xhr){
                if(xhr.code == 200){
                    swal({
                      position: 'center',
                      type: 'success',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                } else{
                    swal({
                      position: 'center',
                      type: 'error',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                }
            }
        });
    }

</script>
{/block}