<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">战队信息</a></li>
      <li class=""><a href="{:url('admin/TeamInfo/create')}">{:lang('Create')}</a></li>
    </ul>

    <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">{:lang('Filter')}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form action="#" method="get" class="form-inline">
			  <div class="form-group">
                  <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">对应游戏</span>
                  <select name="game" class="form-control">
                    <option value="">--请选择--</option>
                    {foreach $gameList as $k=>$v } 
                    <option {eq name="$v" value="$search.game"}selected{/eq} value="{$v}">
                        {$v}
                    </option>
                    {/foreach}
                  </select>
                  </div>
              </div>
			  <div class="form-group">
                  <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">初始来源</span>
                  <select name="original_source" class="form-control">
                    <option value="">--请选择--</option>
                    {foreach $originalSource as $k=>$v } 
                    <option {eq name="$v" value="$search.original_source"}selected{/eq} value="{$v}">
                        {$v}
                    </option>
                    {/foreach}
                  </select>
                  </div>
              </div>
              <div class="form-group">
                <input type="text" name="q" value="{$search.q}" class="form-control" placeholder="">
				<input type="hidden" name="tid" value="{$search.tid}" class="form-control" placeholder="">
              </div>
              <button type="submit" class="btn btn-primary btn-flat"> <i class="fa fa-search"></i> {:lang('Search')}</button>
            </form>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox"></th>
                        <th>#ID</th>
						<th width="240" >TID（<span ><a href="{:url('admin/TeamInfo/index')}?tid=0&game={$search.game}&original_source={$search.original_source}&q={$search.q}"><button >未整合</button></a></span>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{:url('admin/TeamInfo/index')}?game={$search.game}&original_source={$search.original_source}&q={$search.q}">全部</a></button></span>）</th>
                        <th>战队名称</th>
						<th>战队全称</th>
						<th>中文名称</th>
						<th>英文名称</th>
						<th>创建日期</th>
						<th>所在地区</th>
						<th>源站点ID</th>
                        <th>游戏类型</th>
						<th>初始来源</th>
                        <th>战队Logo</th>
                        <th>{:lang('Action')}</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="vo"}
                    <tr id = "tr_{$vo.team_id}">
                        <td><input name="ids[]" value="{$vo.team_id}" type="checkbox"></td>
                        <td>{$vo.team_id}</td>
						<td align='center'><span class="tidclass">{$vo.tid}</span> 
						
						{eq name="vo.tid" value="0"}
						<span><button  onclick="ntegratid('{$vo.team_id}','{$vo.team_name}','{$vo.game}',1);">并入</button></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><button  onclick="ntegratid('{$vo.team_id}','{$vo.team_name}','{$vo.game}',4);">合并</button></span>
						&nbsp;&nbsp;&nbsp;&nbsp;<span><button  onclick="mergeSelf('{$vo.team_id}',5);">自整合</button></span>
						{else /}
						（<span><button onclick="ntegratid('{$vo.team_id}','{$vo.team_name}','{$vo.game}',2);">已整合</button></span>）
						{/eq}</td>
                        <td>
                            {$vo.team_name}
                        </td>
						<td>
                            {$vo.team_full_name}
                        </td>
						 <td>{$vo.cn_name}</td>
						 <td>{$vo.en_name}</td>
						 <td>{$vo.established_date}</td>
						 <td>{$vo.location}</td>
						 <td>{$vo.site_id}</td>
                        <td>{$vo.game}</td>
						<td>{$vo.original_source}</td>
                        <td>
                            <img src="{$vo.logo}?x-oss-process=image/resize,m_lfit,h_60,w_60" width="60"  height='60'>
                        </td>
                         <td>{$vo.create_time}</td>
						 <td>{$vo.update_time}</td>
                        <td>
                            <a href="{:url('admin/TeamInfo/edit', ['id' => $vo['team_id']])}"></i> {:lang('Edit')}</a>
                            <!--<a onclick="remove('{$vo.team_id}')" href="#"> {:lang('Delete')}</a>-->
                        </td>
                    </tr>
                    {/volist}
                    {empty name="list"}
                    <tr>
                        <td colspan="7" class="text-center">{:lang("No record")}</td>
                    </tr>
                    {/empty}
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="row">
          <!--<div class="col-md-6">
            <form method="post" class="form-inline">
                <div class="input-group">
                    <div><select id="type" class="form-control">
                        <option value="delete">{:lang('Delete')}</option>
                    </select>
                    </div>
                    <span class="input-group-btn"> 
                        <button type="button" onclick="handle()" class="btn btn-primary btn-flat"> {:lang('Save')} </button> 
                    </span>
                </div>
            </form>
          </div>-->
          <div class="col-md-6">
            <div class="text-right"> {$page} </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="row col-sm-12" style="display:none;" id="show_div">
        <form class="form-horizontal m-t" id="commentForm" novalidate="novalidate" style="margin-top:30px;margin-left:40px;">
              <div class="form-group">
                  <!--<label class="col-sm-3 control-label">姓名：</label>-->
                  <div class="col-sm-8" id="selectField">
                      <!--<input id="cname" name="name" minlength="2" type="text" class="form-control" required="" aria-required="true">-->
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-3">
                      <a class="btn btn-primary confirmSubmit" style="margin-top:10px;" type="submit">提交</a>
                  </div>
              </div>
          </form>
    </div>


{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript">
    //批量操作
    function handle(){
        var chk_value =[]; 
        $('input[name="ids[]"]:checked').each(function(){ 
            chk_value.push($(this).val()); 
        }); 
        var type = $('#type option:selected').val() ;
        if(chk_value.length < 1){
            swal({
                title: "{:lang('No record selected')}",
                text: "",
                type: "warning"
            });
        }else{
            swal({
              title: "{:lang('Are you sure')}",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: "{:lang('Yes')}",
              cancelButtonText: "{:lang('No')}",
            }).then(function(result){
              if (result.value) {
                $.ajax({
                    url:"{:Url('admin/TeamInfo/handle')}",
                    data:{'ids':chk_value, 'type':type},
                    type:'post',
                    dataType:'json',
                    success: function(xhr){
                        if(xhr.code == 200){
                            swal(xhr.msg, "","success").then(function(value){
                              window.location.reload();
                            });
                        }else{
                            swal(xhr.msg, "", "error");
                        }
                    }
                })
              }
            })
        }
    }
	//弹出下拉框
	function ntegratid(team_id,team_name,game,type){
		if (team_id) {
			$.ajax({
				url:"{:Url('admin/TeamInfo/selectHmtl')}",
				data:{'team_id':team_id,'game':game,'type':type},
				type:'post',
				dataType:'json',
				success: function(xhr){
					var content=xhr.data;
					var title=team_name;
					if(xhr.code == 200){
						layui.use('layer', function(){
						  var $ = layui.jquery;
						  var layer = layui.layer;
						  $("#selectField").html(xhr.data);
						var index = layer.open({
							type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
							title: [title, 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
							area: ['280px', '200px'],
							shadeClose:true,
							shade:0,
							content: $('#show_div')
							});
						});
					}else{
						swal(xhr.msg, "", "error");
					}
				}
			})
		}
		
	}
	
	//自整合
	function mergeSelf(team_id,type){
		 swal({
          title: "{:lang('Are you sure')}",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: "{:lang('Yes')}",
          cancelButtonText: "{:lang('No')}",
        }).then(function(result){
          if (result.value) {
            var data={'team_id':team_id,'type':type};
			$.ajax({
				url:"{:Url('admin/TeamInfo/updataInfo')}",
				data:data,
				type:'post',
				dataType:'json',
				success: function(xhr){
					if(xhr.code == 200){
						swal(xhr.msg, "","success").then(function(value){
							  window.location.reload();
						});
					}else{
						swal(xhr.msg, "","error").then(function(value){
							  window.location.reload();
						});
						
					}
				}
			})
          }
        })

	}
	
	//保存
	$(document).on('click','.confirmSubmit',function(){
		$('.layui-layer-page').hide();
		 
		var team_id = $('input[name="team_id"]').val();
		var type = $('input[name="type"]').val();
		
		if(type==1 || type==4){
			var value=$(".filed_select").find("option:selected").val();
			if(type==1){
				var data={'tid':value,'team_id':team_id,'type':type};
			}else if(type==4){
				var data={'team_id':team_id,'team_id_2':value,'type':type};
			}
			
			$.ajax({
				url:"{:Url('admin/TeamInfo/updataInfo')}",
				data:data,
				type:'post',
				dataType:'json',
				success: function(xhr){
					if(xhr.code == 200){
						swal(xhr.msg, "","success").then(function(value){
							  window.location.reload();
						});
					}else{
						swal(xhr.msg, "","error").then(function(value){
							  window.location.reload();
						});
						
					}
				}
			})

		}else{
			 window.location.reload();
		}
		
	});

    function remove(id){
        swal({
          title: "{:lang('Are you sure')}",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: "{:lang('Yes')}",
          cancelButtonText: "{:lang('No')}",
        }).then(function(result){
          if (result.value) {
            $.ajax({
                url:"{:Url('admin/TeamInfo/remove')}",
                data:{'id':id},
                type:'post',
                dataType:'json',
                success: function(xhr){
                    if(xhr.code == 200){
                        swal(xhr.msg, "","success").then(function(value){
                            $("#tr_" + id).remove();
                        });
                    }else{
                        swal(xhr.msg, "", "error");
                    }
                }
            })
          }
        })
    }
</script>
{/block}