<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">队员信息</a></li>
      <li class=""><a href="{:url('admin/PlayerInfo/create')}">{:lang('Create')}</a></li>
    </ul>

    <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">{:lang('Filter')}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form action="#" method="get" class="form-inline">
			  <div class="form-group">
                  <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">对应游戏</span>
                  <select name="game" class="form-control">
                    <option value="">--请选择--</option>
                    {foreach $gameList as $k=>$v } 
                    <option {eq name="$v" value="$search.game"}selected{/eq} value="{$v}">
                        {$v}
                    </option>
                    {/foreach}
                  </select>
                  </div>
              </div>
			  <div class="form-group">
                  <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">初始来源</span>
                  <select name="original_source" class="form-control">
                    <option value="">--请选择--</option>
                    {foreach $originalSource as $k=>$v } 
                    <option {eq name="$v" value="$search.original_source"}selected{/eq} value="{$v}">
                        {$v}
                    </option>
                    {/foreach}
                  </select>
                  </div>
              </div>
              <div class="form-group">
                <input type="text" name="q" value="{$search.q}" class="form-control" placeholder="">
				<input type="hidden" name="is_intergrated" value="{$search.is_intergrated}" class="form-control" placeholder="">
              </div>
              <button type="submit" class="btn btn-primary btn-flat"> <i class="fa fa-search"></i> {:lang('Search')}</button>
            </form>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="tab-content">
        <div class="tab-pane active table-responsive no-padding">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox"></th>
                        <th>#ID</th>
						<th width="240" >PID（<span ><a href="{:url('admin/PlayerInfo/index')}?is_intergrated=1&game={$search.game}&original_source={$search.original_source}&q={$search.q}"><button >未整合</button></a></span>&nbsp;&nbsp;&nbsp;&nbsp;<span ><a href="{:url('admin/PlayerInfo/index')}?is_intergrated=2&game={$search.game}&original_source={$search.original_source}&q={$search.q}"><button >已整合</button></a></span>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{:url('admin/PlayerInfo/index')}?is_intergrated=0&game={$search.game}&original_source={$search.original_source}&q={$search.q}">全部</a></button></span>）</th>
                        <th>选手名称</th>
						<th>中文名称</th>
						<th>英文名称</th>
						<th>游戏</th>
                        <th>位置</th>
						<th>初始来源</th>
                        <th>队员Logo</th>
						<th>{:lang('Creation date')}</th>
                        <th>{:lang('Action')}</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="vo"}
                    <tr id = "tr_{$vo.player_id}">
                        <td><input name="ids[]" value="{$vo.player_id}" type="checkbox"></td>
                        <td>{$vo.player_id}</td>
						<td align='center'><span class="pidclass">{$vo.pid}</span>
						{neq name="vo.original_source" value="wanplus"}
						{eq name="vo.pid" value="0"}
						<span><button  onclick="getMergedPlayerList4playerid('{$vo.player_id}','{$vo.player_name}','{$vo.team_id}');">并入</button></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><button  onclick="getUnmergedPlayerList('{$vo.player_id}','{$vo.player_name}','{$vo.game}','{$vo.team_id}');">合并</button></span>
						{else /}
						（<span><button onclick="getMergedPlayerList4pid('{$vo.pid}','{$vo.player_name}','{$vo.team_id}');">合并</button></span>）
						{/eq}{/neq}</td>
                        <td>
                            {$vo.player_name}
                        </td>
						<td>
                            {$vo.cn_name}
                        </td>
						<td>
                            {$vo.en_name}
                        </td>
						<td>{$vo.game}</td>
                        <td>{$vo.position}</td>
						
						<td>{$vo.original_source}</td>
						
                        <td>
                            <img src="{$vo.logo}?x-oss-process=image/resize,m_lfit,h_60,w_60">
                        </td>
                         <td>{$vo.create_time}</td>
                        <td>
                            <a href="{:url('admin/PlayerInfo/edit', ['id' => $vo['player_id']])}"></i> {:lang('Edit')}</a>
                            <!--<a onclick="remove('{$vo.player_id}')" href="#"> {:lang('Delete')}</a>-->
                        </td>
                    </tr>
                    {/volist}
                    {empty name="list"}
                    <tr>
                        <td colspan="7" class="text-center">{:lang("No record")}</td>
                    </tr>
                    {/empty}
                </tbody>
            </table>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="row">
          <!--<div class="col-md-6">
            <form method="post" class="form-inline">
                <div class="input-group">
                    <div><select id="type" class="form-control">
                        <option value="delete">{:lang('Delete')}</option>
                    </select>
                    </div>
                    <span class="input-group-btn"> 
                        <button type="button" onclick="handle()" class="btn btn-primary btn-flat"> {:lang('Save')} </button> 
                    </span>
                </div>
            </form>
          </div>-->
          <div class="col-md-6">
            <div class="text-right"> {$page} </div>
          </div>
        </div>
    </div>
  </div>
  <!--弹出框-->
  <div class="row col-sm-12" style="display:none;" id="getMergedPlayerList4pid">
        <form class="form-horizontal m-t"  novalidate="novalidate" style="margin-top:30px;margin-left:40px;">
              <div class="form-group">
                  <!--<label class="col-sm-3 control-label">姓名：</label>-->
                  <div class="col-sm-8" id="mergedPlayerList4pid">
                      <!--<input id="cname" name="name" minlength="2" type="text" class="form-control" required="" aria-required="true">-->
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-3">
                      <a class="btn btn-primary confirmSubmit" style="margin-top:10px;" type="submit">提交</a>
                  </div>
              </div>
          </form>
    </div>
	
	  <div class="row col-sm-12" style="display:none;" id="getMergedPlayerList4playerid">
        <form class="form-horizontal m-t"  novalidate="novalidate" style="margin-top:30px;margin-left:40px;">
              <div class="form-group">
                  <!--<label class="col-sm-3 control-label">姓名：</label>-->
                  <div class="col-sm-8" id="mergedPlayerList4playerid">
                      <!--<input id="cname" name="name" minlength="2" type="text" class="form-control" required="" aria-required="true">-->
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-3">
                      <a class="btn btn-primary confirmSubmit" style="margin-top:10px;" type="submit">提交</a>
                  </div>
              </div>
          </form>
    </div>
	
	  <div class="row col-sm-12" style="display:none;" id="getUnmergedPlayerList">
        <form class="form-horizontal m-t"  novalidate="novalidate" style="margin-top:30px;margin-left:40px;">
              <div class="form-group">
                  <!--<label class="col-sm-3 control-label">姓名：</label>-->
                  <div class="col-sm-8" id="unmergedPlayerList">
                      <!--<input id="cname" name="name" minlength="2" type="text" class="form-control" required="" aria-required="true">-->
                  </div>
              </div>
              
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-3">
                      <a class="btn btn-primary confirmSubmit" style="margin-top:10px;" type="submit">提交</a>
                  </div>
              </div>
          </form>
    </div>


{/block}

<!-- 自定义js -->
{block name="js"}
<script type="text/javascript">
    //批量操作
    function handle(){
        var chk_value =[]; 
        $('input[name="ids[]"]:checked').each(function(){ 
            chk_value.push($(this).val()); 
        }); 
        var type = $('#type option:selected').val() ;
        if(chk_value.length < 1){
            swal({
                title: "{:lang('No record selected')}",
                text: "",
                type: "warning"
            });
        }else{
            swal({
              title: "{:lang('Are you sure')}",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: "{:lang('Yes')}",
              cancelButtonText: "{:lang('No')}",
            }).then(function(result){
              if (result.value) {
                $.ajax({
                    url:"{:Url('admin/PlayerInfo/handle')}",
                    data:{'ids':chk_value, 'type':type},
                    type:'post',
                    dataType:'json',
                    success: function(xhr){
                        if(xhr.code == 200){
                            swal(xhr.msg, "","success").then(function(value){
                              window.location.reload();
                            });
                        }else{
                            swal(xhr.msg, "", "error");
                        }
                    }
                })
              }
            })
        }
    }
	
	function getMergedPlayerList4playerid(player_id,player_name,team_id){
		var data={'player_id':player_id,'team_id':team_id,'type':'getMergedPlayerList4playerid'};
		$.ajax({
			url:"{:Url('admin/playerInfo/selectHmtl')}",
			data:data,
			type:'post',
			dataType:'json',
			success: function(xhr){
				var content=xhr.data;
				var title=player_name;
				if(xhr.code == 200){
					layui.use('layer', function(){
					  var $ = layui.jquery;
					  var layer = layui.layer;
					  $("#mergedPlayerList4playerid").html(xhr.data);
					var index = layer.open({
						type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
						title: [title, 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
						area: ['280px', '200px'],
						shadeClose:true,
						shade:0,
						content: $('#getMergedPlayerList4playerid')
						});
					});
				}else{
					swal(xhr.msg, "", "error");
				}
			}
		})
	
	}
	function getUnmergedPlayerList(player_id,player_name,game,team_id){
		var data={'player_id':player_id,'type':'getUnmergedPlayerList','game':game,'team_id':team_id};
		$.ajax({
			url:"{:Url('admin/playerInfo/selectHmtl')}",
			data:data,
			type:'post',
			dataType:'json',
			success: function(xhr){
				var content=xhr.data;
				var title=player_name;
				if(xhr.code == 200){
					layui.use('layer', function(){
					  var $ = layui.jquery;
					  var layer = layui.layer;
					  $("#unmergedPlayerList").html(xhr.data);
					var index = layer.open({
						type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
						title: [title, 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
						area: ['280px', '200px'],
						shadeClose:true,
						shade:0,
						content: $('#getUnmergedPlayerList')
						});
					});
				}else{
					swal(xhr.msg, "", "error");
				}
			}
		})
	
	}
	
	function getMergedPlayerList4pid(pid,player_name,team_id){
	
		$.ajax({
			url:"{:Url('admin/playerInfo/selectHmtl')}",
			data:{'pid':pid,'type':'getMergedPlayerList4pid','team_id':team_id},
			type:'post',
			dataType:'json',
			success: function(xhr){
				var content=xhr.data;
				var title=player_name;
				if(xhr.code == 200){
					layui.use('layer', function(){
					  var $ = layui.jquery;
					  var layer = layui.layer;
					  $("#mergedPlayerList4pid").html(xhr.data);
					var index = layer.open({
						type: 1,  //可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
						title: [title, 'font-size:18px; color:orange;'],//数组第二项可以写任意css样式；如果你不想显示标题栏，你可以title: false
						area: ['280px', '200px'],
						shadeClose:true,
						shade:0,
						content: $('#getMergedPlayerList4pid')
						});
					});
				}else{
					swal(xhr.msg, "", "error");
				}
			}
		})
	
	}
	
	
	//保存
	$(document).on('click','.confirmSubmit',function(){
		$('.layui-layer-page').hide();
	
		var type = $('input[name="type"]').val();
		var select_value=$(".filed_select").find("option:selected").val();
		if(select_value==undefined || select_value==0){
			window.location.reload();
			return false;
		};
		if(type=='merge2mergedPlayer'){
			var pid = $('input[name="newpid"]').val();
			var data={'pid_1':pid,'pid_2':select_value,'type':'merge2mergedPlayer'};
		}else if(type=='merge2unmergedPlayer'){
			var player_id = $('input[name="player_id"]').val();
			var data={'player_id_1':player_id,'player_id_2':select_value,'type':'merge2unmergedPlayer'};
		}else if(type=='mergePlayer2mergedPlayer'){
			var player_id = $('input[name="player_id"]').val();//
			var data={'player_id':player_id,'pid':select_value,'type':'mergePlayer2mergedPlayer'};
		}
		
		$.ajax({
			url:"{:Url('admin/playerInfo/updataInfo')}",
			data:data,
			type:'post',
			dataType:'json',
			success: function(xhr){
				if(xhr.code == 200){
					swal(xhr.msg, "","success").then(function(value){
						  window.location.reload();
					});
				}else{
					swal(xhr.msg, "","error").then(function(value){
						  window.location.reload();
					});
					
				}
			}
		})

		
	});
	

    function remove(id){
        swal({
          title: "{:lang('Are you sure')}",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: "{:lang('Yes')}",
          cancelButtonText: "{:lang('No')}",
        }).then(function(result){
          if (result.value) {
            $.ajax({
                url:"{:Url('admin/PlayerInfo/remove')}",
                data:{'id':id},
                type:'post',
                dataType:'json',
                success: function(xhr){
                    if(xhr.code == 200){
                        swal(xhr.msg, "","success").then(function(value){
                            $("#tr_" + id).remove();
                        });
                    }else{
                        swal(xhr.msg, "", "error");
                    }
                }
            })
          }
        })
    }
</script>
{/block}