<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/Information/index')}">资讯管理</a></li>
      <li class=""><a href="{:url('admin/Information/create')}">{:lang('Create')}</a></li>
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            <div class="form-group">
              <label>标题 </label>
              <div class="row">
              <div class="col-md-6">
              <input type="hidden" name="id" value="{$info.id}">
              {$info.title}
              </div>
              </div>
            </div>
			<div class="form-group">
              <label>作者 </label>
              <div class="row">
              <div class="col-md-6">
              <input type="text" name="author" value="{$info.author}"  class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label>对应来源</label>
              <div class="row">
              <div class="col-md-6">
              <input type="text" name="source" value="{$info.source}"  class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label>对应游戏 <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="game" class="form-control">
                <option>请选择</option>
                {volist name="gameList" id="vo"}
                <option  {eq name="$vo" value="$info.game"}selected{/eq} value="{$vo}">
                    {$vo}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label>文章类型 <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="type" class="form-control">
                <option>请选择</option>
                {volist name="typeList" id="vo"}
                <option  {eq name="key" value="$info.type"}selected{/eq} value="{$key}" >
                    {$vo}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
            
			<div class="form-group">
              <label>Logo</label>
              <div class="row">
              <div class="col-md-12">
                <div class="layui-upload-drag" id="logo">
                  <input type="hidden" name="logo" value="{$info.logo}">
                  <div class="layui-upload-list" id="preview">
                      {empty name="info.logo"}
                      <p>{:lang('Upload')}</p>
                      {else /}
                      <img class="layui-upload-img img-responsive" src="{$info.logo}" />
                      {/empty}
                  </div>
                </div>
              </div>
              </div>
            </div>
			<div class="form-group">
			  <label>内容</label>
			  <div class="row">
			  <div class="col-md-12">
			  <textarea id="editor" name="content">{$info.content}</textarea>
			  </div>
			  </div>
			</div>
            
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: "#logo"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='logo']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>
<script src="__STATIC__/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
var ue = UE.getEditor('editor', {
    toolbars: [
        ['fullscreen', 'source', 'undo', 'redo', 'selectall', '|', 'removeformat', 'formatmatch', 'autotypeset', 'cleardoc', '|', 'template', 'indent', 'horizontal','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'insertcode'],
        ['fontfamily', 'fontsize', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'link', 'unlink', 'inserttable', 'deletetable', 'simpleupload', 'insertimage']
    ],
    initialFrameWidth: '100%',
    initialFrameHeight:300,
    scaleEnabled:true,
    serverUrl: '{:url("admin/ueditor/index")}',
});
</script>
<script type="text/javascript">
    function operate(){
        $.ajax({
            url:"{:url('admin/Information/edit')}",
            data:$("#operate").serialize(),
            type:'post',
            dataType:'json',
            success:function(xhr){
                if(xhr.code == 200){
                    swal({
                      position: 'center',
                      type: 'success',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                } else{
                    swal({
                      position: 'center',
                      type: 'error',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                }
            }
        });
    }

</script>
{/block}