<!-- 模板继承 -->
{extend name="public:base" /}

<!-- 页面标题 -->
{block name="title"}Administrator{/block}

<!-- 自定义css -->
{block name="css"}{/block}

<!-- 内容区域 -->
{block name="content"}
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class=""><a href="{:url('admin/ActiveList/index')}">图片管理</a></li>
      <li class="active"><a href="">{:lang('Create')}</a></li>
   
      <li class="pull-right"><a href="javascript:history.back(-1);" class="text-muted"><i class="fa fa-chevron-circle-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">
        <form role="form" id="operate">
            <div class="form-group">
              <label class="layui-form-label">{:lang('Image')} <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
                <div class="layui-upload-drag" id="image">
                  <input type="hidden" name="logo">
                  <div class="layui-upload-list" id="preview">
                  <p>{:lang('Upload')}</p>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="form-group">
              <label class="layui-form-label">{:lang('Name')} <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="title" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">活动开始时间</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text"  name="start_time" id="start_time" lay-verify="start_time" placeholder="yyyy-MM-dd HH:ii:ss" value="{$start_time}" class="layui-input" >
              </div>
              </div>
            </div>
			<div class="form-group">
              <label class="layui-form-label">活动结束时间</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text"  name="end_time" id="end_time" lay-verify="end_time" placeholder="yyyy-MM-dd HH:ii:ss" value="{$end_time}" class="layui-input" >
              </div>
              </div>
            </div>
            <div class="form-group">
              <label class="layui-form-label">{:lang('Url')} </label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="url" class="form-control input-sm" placeholder="">
              </div>
              </div>
            </div>
            
            
			
			<div class="form-group">
              <label class="layui-form-label">游戏类型 <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="game" class="form-control">
                
                {volist name="gameList" id="vo"}
                <option value="{$vo}">
                    {$vo}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
			
			<div class="form-group">
              <label class="layui-form-label">所属站点 <span class="text-red">*</span></label>
              <div class="row">
              <div class="col-md-4">
              <select name="site_id" class="form-control">
                <option value="">--请选择--</option>
                {volist name="siteList" id="vo"}
                <option value="{$vo.id}">
                    {$vo.name}
                </option>
                {/volist}
              </select>
              </div>
              </div>
            </div>
			
            <div class="form-group">
              <label class="layui-form-label">{:lang('Sort')}</label>
              <div class="row">
              <div class="col-md-4">
              <input type="text" name="sort" class="form-control input-sm" placeholder="" value="1"  onkeyup="value=value.replace(/[^\d]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" >
              </div>
              </div>
            </div>
            <div class="form-group">
                <label class="layui-form-label">{:lang('Status')}</label>
                <div class="row">
                    <div class="col-md-4">
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="status" value="1"> {:lang('Visible')}
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" value="0"> {:lang('Hidden')}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
			<div class="form-group">
			  <label class="layui-form-label">描述</label>
			  <div class="row">
			  <div class="col-md-4">
			  <textarea id="description" name="description"></textarea>
			  </div>
			  </div>
			</div>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
    <div class="box-footer">
        <div class="btn-group">
            <button class="btn btn-primary btn-flat" onclick="operate();" type="button"> {:lang('Save')}</button>
        </div>
    </div>
  </div>
{/block}

<!-- 自定义js -->
{block name="js"}
<script>
layui.use(['upload','laydate'], function(){
  var $ = layui.jquery
  ,upload = layui.upload,laydate = layui.laydate;
  laydate.render({
    elem: '#start_time'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#end_time'
    ,type: 'datetime'
  });
  
  
  //拖拽上传
  upload.render({
    elem: "#image"
    ,accept: 'image'
    ,multiple: false
    ,number: 1
    ,url: "{:url('admin/upload/uploadFile')}"
    ,done: function(res){
      if (res.code == 200) {
        $("[name='logo']").val(res.data.url);
        $("#preview").html("<img class=\'layui-upload-img img-responsive\' src=\'"+res.data.url+"\'>");
      } else {
        swal({
          position: 'center',
          type: 'error',
          title: res.msg,
          showConfirmButton: false,
          toast:false,
          timer: 2000
        });
      }
    }
  });
  
});
</script>
<script src="__STATIC__/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript">
var ue = UE.getEditor('description', {
    toolbars: [
        ['fullscreen', 'source', 'undo', 'redo', 'selectall', '|', 'removeformat', 'formatmatch', 'autotypeset', 'cleardoc', '|', 'template', 'indent', 'horizontal','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'insertcode'],
        ['fontfamily', 'fontsize', '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'link', 'unlink', 'inserttable', 'deletetable', 'simpleupload', 'insertimage']
    ],
    initialFrameWidth: '100%',
    initialFrameHeight:300,
    scaleEnabled:true,
    serverUrl: '{:url("admin/ueditor/index")}',
});

</script>
<script type="text/javascript">
    function operate(){
        $.ajax({
            url:"{:url('admin/ActiveList/create')}",
            data:$("#operate").serialize(),
            type:'post',
            dataType:'json',
            success:function(xhr){
                if(xhr.code == 200){
                    swal(xhr.msg, "","success").then(function(value){
						  window.location.href = "{:url('admin/ActiveList/index')}";
					});
                } else{
                    swal({
                      position: 'center',
                      type: 'error',
                      title: xhr.msg,
                      showConfirmButton: false,
                      toast:false,
                      timer: 2000
                    });
                }
            }
        });
    }

</script>
{/block}